body{
	margin: 0;
	font-family: 'Saira Condensed', sans-serif;
	font-size: 15px;
	line-height: 30px;
}

span{
	font-family: Saria Condensed, sans-serif;
	font-size: 20px;
	max-width: 30px;
	color: black;
}

span img{
	max-width: 100px;
}

header{
	font-size: 60px;
}
header img{
	max-width: 50%;
}